# DATABASE_URL=mongodb+srv://souvik:basu@cluster.ntosxn8.mongodb.net/GrowLimitLess?retryWrites=true&w=majority&appName=Cluster
# DATABASE_URL= "mongodb+srv://operations:nIzoFig3d47La9Cz@cluster0.zz7u5.mongodb.net/Partners?retryWrites=true&w=majority&appName=Cluster0" 
DATABASE_URL="mongodb+srv://operations:nIzoFig3d47La9Cz@cluster0.zz7u5.mongodb.net/Partners?retryWrites=true&w=majority&appName=Cluster0"
BREVO_API_KEY="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"